/* Soluzione qui */

main {
  font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

.recipe-name {
  font-family: 'Nerko one', cursive;
}

@media all and (min-width: 576px) {

  .clearfix img {
    float: left;
    margin-right: 11px;
  }

  .social-networks button {
    width: 20%;
  }

}

@media screen and (min-width: 768px) {
  #topbar {
    justify-content: flex-start;
  }

  main {
    padding: 50px;
  }

  .recipe-origin {
    display: inline;
  }

  .recipe-name {
    font-size: 25px;
  }

  .quick-notes ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }


  .quick-notes ul li {
    width: calc(100% / 3 - 20px);
  }

  .social-networks button {
    width: 20%;

  }

  .ads {
    display: block;
  }

  .clearfix img {
    float: left;
    margin-right: 11px;
  }

}

@media all and (min-width: 992px) {



  .recipe-name {
    font-size: 50px;
  }

  .recipe-card {
    display: flex;
  }

  .recipe-video {
    width: 70%;
    max-height: 420px;
  }

  .recipe-info {
    width: 30%;
  }

  .quick-notes ul {
    display: initial;
  }

  .social-networks .label {
    display: inline;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

  address {
    text-align: left;
  }

}