/* Soluzione qui */
main {
  font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

.recipe-name {
  font-family: 'Nerko one', cursive;
}

@media all and (min-width: 768px) {
  #topbar {
    justify-content: left;
  }

  main {
    padding: 50px;
  }

  .recipe-origin {
    display: inline-block;
  }

  .recipe-name {
    font-size: xx-large;
  }

  .quick-notes ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 26px;
  }


  .quick-notes li {
    width: calc(100% \ 3);

  }

  .social-networks .btn {
    padding: 10px 50px;
  }

  .ads {
    display: block;
  }

  .clearfix img {
    float: left;
    margin-right: 11px;
  }

}

@media all and (min-width: 992px) {

  .recipe-name {
    font-size: 50px;
  }

  .recipe-card {
    display: flex;
  }

  .recipe-video {
    width: 70%;
    height: 500px;
  }

  .recipe-info {
    width: 30%;
  }

  .quick-notes ul {
    display: initial;
  }

  .social-networks .btn {
    padding: 10px 60px;
  }

  .social-networks .label {
    display: block;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

}