/* Soluzione qui */

@media all and (min-width: 768px) {
  #topbar {
    justify-content: left;
  }

  main {
    padding: 50px;
  }

  .recipe-origin {
    display: inline-block;
  }

  .recipe-name {
    font-size: xx-large;
  }

  .quick-notes ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .quick-notes li {
    margin-right: 20px;
    width: calc(100% \ 3);

  }

  .social-networks .btn {
    padding: 10px 50px;
  }


}